/* *:focus {
  background: transparent;
} */
@font-face {
  font-family: montserrat-regular;
  src: url(fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: montserrat-bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

body {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 30, 18);
  font-family: "montserrat-regular", sans-serif;
}
header {
  min-height: 64px;
  display: flex;
  color: rgb(36, 30, 18);
}
h1 {
  color: rgb(255, 66, 77);
}
h2 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.8rem;
}

/* NAVBAR */
.navbar-fixed .nav-wrapper {
  width: 100%;
}

nav {
  display: inline;
  color: rgb(36, 30, 18);
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
nav ul {
  list-style: none;
}

nav ul li a {
  color: rgb(36, 30, 18);
}
nav header i {
  background-color: rgb(255, 255, 255);
}

.navbar-fixed nav {
  border-bottom: 1px solid #f5f4f2;
}
.login-area {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 1;
}

nav ul a.btn {
  margin: 0;

  border: 2px solid rgb(255, 66, 77);
}
nav ul a.btn:hover {
  border: 2px solid rgb(255, 66, 77);
  background: white;
  color: rgb(255, 66, 77);
}
.firstbar-box {
  height: 40px;
  margin-top: 12px;
}

.firstbar {
  margin-right: 20px;
  background-color: #f5f4f2;
  border-radius: 9999px;
}
#search1 {
  background-color: #f5f4f2;
  border-radius: 9999px;
}

/* I could not change the values ​​originating from Materialize CSS. I used id's to do this. */
nav .input-field label {
  top: -9px;
}

/* mobile navbar */
.nav-mobile {
  display: none;
}

.thirdbar {
  padding: 2px;
  background-color: #f5f4f2;
  border-radius: 9999px;
  width: 96%;
  margin: auto;
}
#search3 {
  background-color: #f5f4f2;
  border-radius: 9999px;
}

.thirdbar .input-field label {
  top: -17px;
}

nav .sidenav-trigger {
  float: none;
  position: absolute;
  top: 0px;
  right: -3px;
}
/* landing section */
.landing {
  background: #141518;
}
.let-your {
  color: rgb(255, 255, 255);
}

.btn {
  border-radius: 9999px;
  background-color: rgb(255, 66, 77);
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0px;
  line-height: 36px;
  padding-top: 4px;
  height: 46px;
}

.btn:hover {
  background-color: rgb(255, 66, 77);
}
.btn:focus {
  background-color: rgb(255, 66, 77);
}

.first-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing .container {
  display: flex;
}

.landing .container > div {
  padding-top: 6.5rem;
  padding-bottom: 5.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  flex-basis: 50%;
}
.div-gif div {
  position: relative;
}
.div-gif i {
  position: absolute;
  font-size: 6rem;
  top: 45%;
  left: 45%;
  color: #ff434d;
}

/* I couldn't put play icon on the middle for all devices ***********/

/* second-section */
.second-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.secondbar-box {
  display: flex;
}
.secondbar {
  flex-basis: 90%;
  margin-right: 20px;
  padding: 2px;
  background-color: #f5f4f2;
  border-radius: 9999px;
}

#search2 {
  background-color: #f5f4f2;
  border-radius: 9999px;
}
.creators-patreon {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.second-sbar {
  display: flex;
}

/* third-section  */
.third-section {
  text-align: center;
  padding: 0rem 0rem 6rem;
}
.third-section p {
  font-size: 1.25rem;
  line-height: 2;
  width: 80%;
  margin: auto;
}
/* forth-section */
.forth-section {
  padding: 6rem 0rem;
}
.box-creators {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.box-creators p {
  margin-top: 0px;
}
.develop {
  flex-basis: 40%;
  order: 1;
  padding: 0px 8px;
}
.mikki {
  flex-basis: 40%;
  order: 2;
  padding: 0px 8px;
}
.take-back {
  flex-basis: 40%;
  order: 2;
  padding: 0px 8px;
}
.kev {
  flex-basis: 40%;
  order: 1;
  padding: 0px 8px;
}
.build-direct {
  flex-basis: 40%;
  order: 1;
  padding: 0px 8px;
}

.bexey {
  flex-basis: 40%;
  order: 2;
  padding: 0px 8px;
}

.creators-heading {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.125rem;
  color: rgb(255, 66, 77);
  text-align: left;
}

/* fifth-section */
.fifth-section {
  padding: 6rem 0rem;
}
.fifth-section .container {
  display: flex;
  justify-content: space-around;
}

article.card {
  flex-basis: calc(33% - 30px);
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}
.card .card-content {
  padding-left: 0px;
}
.card .card-content h5 {
  font-size: 1.5rem;
  font-family: "montserrat-bold", sans-serif;
}
.card .card-content p {
  margin-top: 23px;
  margin-bottom: 18px;
}
.card .card-content a {
  color: black;
  text-decoration: underline;
}
/* connection-section */
.connection {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafbfc;
}

/* footer **************************** */
.page-footer {
  height: auto;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}
.page-footer h3 {
  font-size: 0.8rem;
}
.page-footer .container {
  display: flex;
  flex-wrap: wrap;
}
.language-options {
  flex-basis: 33.333%;
  height: auto;
}
.options-box {
  border: 1px solid white;
  margin-bottom: 5px;
  border-radius: 15px;
  max-width: 80%;
}
.product {
  flex-basis: 16%;
}
.for-creators {
  flex-basis: 16%;
}
.resources {
  flex-basis: 16%;
}
.company {
  flex-basis: 16%;
}
.address {
  flex-basis: 100%;
}
.media-icons i {
  color: white;
}

/* media queries */
@media screen and (min-width: 1025px) {
  .navbar-fixed nav {
    height: 64px;
  }
}
@media screen and (max-width: 1024px) {
  .navbar-fixed nav {
    height: 110px;
  }
  .nav-desktop {
    display: none;
  }
  .login-area {
    display: none;
  }
  nav ul a.btn {
    margin-right: 45px;
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    padding-left: 5px;
  }
  nav a.sidenav-trigger {
    display: unset;
  }
  .mobile-icon {
    color: black;
    margin-right: auto;
  }
  .container {
    width: 90%;
  }

  .page-footer .container {
    width: 100%;
    padding: 2rem;
  }
  .language-options {
    flex-basis: 100%;
    flex-shrink: 0;
  }
  .options-box {
    max-width: 33%;
  }
  .product {
    flex-basis: 50%;
  }
  .for-creators {
    flex-basis: 50%;
  }
  .resources {
    flex-basis: 50%;
  }
  .company {
    flex-basis: 50%;
  }
  ul li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.3rem;
  }
  .landing .container {
    flex-direction: column;
  }

  .landing .container div {
    flex-basis: 100%;
  }
  .secondbar-box {
    flex-direction: column;
  }
  .secondbar {
    flex-basis: 100%;
    margin-right: 0;
  }

  .secondbar-box .btn {
    flex-basis: 80%;
    margin-right: 20px;
    width: 100%;
    margin-top: 10px;
  }
  .forth-section .container {
    width: 96%;
  }
  .box-creators {
    flex-direction: column;
  }
  .kev {
    order: 2;
  }
  .take-back {
    order: 1;
  }
  .box-creators .responsive-img {
    width: 100%;
  }
  .box-creators p {
    text-align: justify;
  }
  .btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .fifth-section .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .div-gif i {
    top: 24%;
    left: 36%;
  }
}
@media screen and (max-width: 415px) {
  .div-gif i {
    top: 24%;
    left: 36%;
  }
}
