body {
  font-size: 16px;
}
header {
  min-height: 64px;
}
h1 {
  color: rgb(255, 66, 77);
}

.landing {
  background: #141518;
}
.let-your {
  color: rgb(255, 255, 255);
}
.get-started {
  border-radius: 9999px;
  background-color: rgb(255, 66, 77);
  display: inline;
}

.first-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.get-started:hover {
  background-color: rgb(255, 66, 77);
}

.landing .container {
  display: flex;
}

.landing .container > div {
  padding-top: 6.5rem;
  padding-bottom: 5.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  flex-basis: 50%;
}
.div-gif div {
  position: relative;
}
.div-gif i {
  position: absolute;
  font-size: 6rem;
  top: 45%;
  left: 45%;
  color: #ff434d;
}

@media screen and (max-width: 767px) {
  .landing .container {
    flex-direction: column;
  }

  .landing .container div {
    flex-basis: 100%;
  }
}
